*{
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
}

.contenido {
    background: #000;
    border: 2px solid #00f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 255, 0.5);
}

.contenido h1,
.contenido h2 {
    color: #00f;
    text-shadow: 0 0 10px rgb(255, 255, 255), 0 0 20px rgb(255, 255, 255), 0 0 30px rgb(255, 255, 255);
}

.contenido section label,
.contenido section select,
.contenido section input {
    margin-bottom: 10px;
}

.contenido aside label,
.contenido aside input {
    margin-bottom: 10px;
}

.contenido center {
    margin-top: 10px;
}

span {
    color: white;
}

label {
    color: white;
}

#encabezado {
    color: blue;
    padding: 5px;
    text-align: center;
}

#pie {
    color: darkslategrey;
    background-color: bisque;
    text-align: center;
}

#btnCalcular {
    font-family: cursive;
    background-color: aquamarine;
    width: 90px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

#btnLimpiar {
    font-family: cursive;
    background-color: aquamarine;
    width: 90px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}