*{
    padding: 0;
}

.caja {
    background-color: cyan;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid black;
    padding: 20px;
}

.contenido {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imagen-contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

body {
    color: black;
}

h1 {
    font-family: cursive;
    font-size: 24px;
    text-align: center;
}

label {
    font-family: cursive;
    margin-right: 10px;
    margin-bottom: 15px;
}

input[id="txtEdad"] {
    font-family: cursive;
    width: 15%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: inset 1px -2px #333;
    margin-bottom: 15px;
}

input[id="txtAltura"] {
    font-family: cursive;
    width: 15%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: inset 1px -2px #333;
    margin-bottom: 15px;
}

input[id="txtPeso"] {
    font-family: cursive;
    width: 15%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: inset 1px -2px #333;
    margin-bottom: 15px;
}

input[id="txtCalorias"] {
    font-family: cursive;
    width: 10%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: inset 1px -2px #333;
    margin-bottom: 15px;
}

input[id="txtResultado"] {
    font-family: cursive;
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: inset 1px -2px #333;
    display: none;
    margin-bottom: 15px;
}
  
#IMC {
    font-family: cursive;
    background-color: aquamarine;
    width: 35%;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: inset 1px -2px #333;
}

#imagen {
    width: 150px;
}

#resultado {
    display: none;
}
