/* Selector universal */
*{
    padding: 0;
}

body {
    background-color: #000000; /* Color de fondo oscuro (negro en este caso) */
    font-family: Arial, sans-serif; /* Tipo de fuente */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 800px;
    margin: 0;
    padding: 0;
}

button {
    background-color: #00f; /* Color de fondo del botón (azul en este caso) */
    color: #fff; /* Color del texto del botón (blanco en este caso) */
    border-radius: 10px;
    border: none;
    padding: 5px 45px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

.contenido {
    width: 800px;
    background-color: #ffffff; /* Fondo negro */
    color: #00ff00; /* Texto en verde neón */
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
    padding: 20px;
}

.cuerpo {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.caja-generar {
    background-color: black;
    color: #00ff00;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px #00ff00, 0 0 5px 5px #00ff00;
    width: 70%;
    height: 100%;
    text-align: center;
    position: relative;
}

.caja-resultados {
    background-color: black;
    color: #00ff00;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px #00ff00, 0 0 5px 5px #00ff00;
    width: 70%;
    height: 100%;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
}

.caja-resultados label[for="valores"] {
    margin-top: 20px; /* Espacio superior */
}

.caja-resultados select[name="cmbNumeros"] {
    margin: 10px auto; /* Margen en todos los lados, centrado horizontalmente */
    display: block; /* Hace que el elemento sea de bloque, centrando verticalmente */
}

.caja-resultados label[for="prom"], 
.caja-resultados label[for="mayor"], 
.caja-resultados label[for="menor"], 
.caja-resultados label[for="sim"], 
.caja-resultados label[for="porpares"], 
.caja-resultados label[for="porimpares"],
.caja-resultados span {
    background-color: white;
    padding: auto;
    border-radius: 5px;
    display: block;
    margin: 5px auto; /* Espaciado arriba y abajo, centrado horizontalmente */
    width: 70%; /* Ancho del 70% de la caja de resultados */
    text-align: center; /* Alineación del texto al centro */
}


footer {
    align-self: center;
    text-align: center;
    margin-top: 100px;
}

.grid{
    display: grid;
    
}